body {
    height: 500px;
    background-image: linear-gradient(-90deg, rgba(4, 4, 14, 0.877));
}

div {
    background-image: url("../images/spaceBaackground.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    margin: 0 auto;
    text-align: center;
    width: 500px;
    height: 600px;
}

#loginTitle {
    padding-top: 5px;
    color: white;
}

label {
    color: white;
    font-size: 1.3em;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 400px;
    padding: 7px;
    margin-bottom: 10px;
}

::placeholder {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(78, 78, 78);
}

#loginBtn {
    padding: 5px;
    background-color: #000000;
    margin-right: 5px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border: 1px solid black;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    cursor: pointer;
}

#signUpBtn {
    padding: 5px 10px;
    font-weight: bold;
    background-color: #ffffff;
    border: 1px solid black;
    width: 100%;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    cursor: pointer;
}