.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0.5rem 1rem;
}

.nav-title {
    color: black;
    font-family: "Rubik", sans-serif;
    font-size: 3em;
    margin-left: 5px;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 1rem;
}

.nav-links a {
    font-family: "Rubik", sans-serif;
    font-size: 1.2em;
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    text-decoration: underline;
    border-radius: 5px;
}

#error-messages {
    background-color: #eddbd4;
    border-color: #e6cec3;
    text-align: center;
    color: #571515;
    padding: 10px;
    margin: 10px 0;
}

#error-messages ul li {
    list-style-type: none;
}

.signin_content {
    display: flex;
    padding: 0;
    border: none;
    background-color: #fefefe;
    text-align: left;
    margin: 5% auto;
    border: 1px solid #888;
    width: 800px;
    max-width: 800px;
    height: 550px;
    max-height: 550px;
    box-sizing: border-box;
}

.left-image {
    width: 400px;
    height: auto;
    margin: 0;
    padding: 0;
}

.form-container {
    flex: 1;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    padding: 10px;
    color: black;
    font-size: 1.1em;
    font-family: "Rubik", sans-serif;
}

#usernameInput,
#passwordInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 320px;
    font-size: 1em;
    margin-bottom: 5px;
}

.additional-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.remember-me {
    display: flex;
    align-items: center;
}

.remember-me label {
    margin-left: 1px;
    font-family: "Rubik", sans-serif;
    font-size: 0.9750em;
}

.forgot-password {
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    font-size: 0.9750em;
    color: #000;
}

.forgot-password:hover {
    text-decoration: underline;
}

#signInbtn {
    background-color: black;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 1.1em;
    color: white;
    width: 320px;
    height: 45px;
    margin-bottom: 10px;
}

.signUpText,
.signInText {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.signUpPopup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;

}

.signUpPopup-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 1000px;
    height: 750px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signUp-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signUp-form label {
    width: 450px;
    padding: 10px 0;
    color: black;
    font-size: 1.1em;
    font-family: "Rubik", sans-serif;
    display: flex;
    justify-content: flex-start;
    text-align: left;
}

.signUp-form input[type="email"],
.signUp-form input[type="text"],
.signUp-form input[type="password"] {
    border-radius: 9px;
    padding: 10px;
    width: 450px;
    font-size: 1em;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.close {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

#signUp-submit {
    margin: 10px;
    padding: 10px;
    width: 450px;
    background-color: black;
    border-radius: 9px;
    border: 1px solid black;
    color: white;
}

#signUp-google {
    margin: 10px;
    padding: 10px;
    width: 450px;
    border-radius: 9px;
    border: 1px solid #ccc;
    color: black;
}

.footer {
    margin-top: 100px;
    background-color: rgb(255, 255, 255);
    padding: 50px 0;
    text-align: center;
}

.footer-content h2 {
    font-family: "Rubik", sans-serif;
    font-size: 1.3em;
    display: block;
}

.footer-content p {
    font-family: "Rubik", sans-serif;
    font-size: .9em;
    font-weight: 100;
}

.footer-content button {
    font-family: "Rubik", sans-serif;
    height: 50px;
}

.footer-content input {
    font-family: "Rubik", sans-serif;
    border: 1px solid #000000;
    background-color: #ffffff;
    width: 500px;
    height: 50px;
}


.footer-bottom {
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    font-family: "Rubik", sans-serif;
    padding: 10px 0;
    font-size: 0.9em;
}

#subbutton {
    border: 1px solid #000000;
    background-color: #ffffff;
}